
.texto{
    width: 200px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    text-align: left;
    padding: 10px;
    background-color: red;
}

.textoo{
    width: 200px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    text-align: center;
    padding: 10px;
    background-color: red;
}


.textooo{
    width: 200px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    text-align: right;
    padding: 10px;
    background-color: red;
}