/* {background-color: red;} */
/* p{background-color: red;} */
/* #title-1{background-color: red;} */
/* .bg-yellow{background-color: red;} */
/* [id]{background-color: red;} */
/* [id="title-1"]{background-color: red;} */
/* [href="https://www.yahoo.com"]{background-color: red;} */
/* [class^="title"]{background-color: red;} */
/* [href$=".com"]{background-color: red;} */
/* [class*=title]{background-color: red;} */
/* [href*="127"]{background-color: red;} */
/* [href^="http"]{background-color: red;} */
/* a,p,h1{background-color: red;} */
/* main>p{background-color: red;} */
/* h1+p{background-color: red;} */
/* h1~*{background-color: red;} */
main>*{background-color: red;}