/* {background-color: red;} */
/* p{background-color: red;} */
/* #title-1{background-color: red;} */
/* .bg-yellow{background-color: red;} */
/* [id]{background-color: red;} */
/* [id="title-1"]{background-color: red;} */
/* [href="https://www.yahoo.com"]{background-color: red;} */
/* [class^="title"]{background-color: red;} */
/* [href$=".com"]{background-color: red;} */
/* [class*=title]{background-color: red;} */
