.General{background-color: red;
    width: 400px;
    height: 400px;
    margin-left: 10px;
    margin-top: 20px;
    border-color: black;
    border-style: solid;
    position: absolute;
    display: block;
}
.aizq {
    background-color: green;
    height: 46px;
    width: 46px;
    border-color: black;
    border-radius: 50%;
    position: relative;
    text-align: center;
    display: block;
    border: solid;
    right: 24px;
    top: -24px;
    
    
}
.bizq{
    background-color: green;
    height: 46px;
    width: 46px;
    border-color: black;
    border-radius: 50%;
    position: relative;
    text-align: center;
    display: block;
    border: solid;
    right: 25px;
    top: 269px;}

.adcha {
        background-color: green;
        height: 46px;
        width: 46px;
        border-color: black;
        border-radius: 50%;
        position: relative;
        text-align: center;
        display: block;
        border: solid;
        left: 374px;
        top: -75px;
        
    }

.bdcha {
        background-color: green;
        height: 46px;
        width: 46px;
        border-color: black;
        border-radius: 50%;
        position: relative;
        display: block;
        text-align: center;
        right: -377px;
        top: 220px;
        border: solid;
    }